GIGA_CREDS = "your credentials"
GIGA_MODEL = "GigaChat-2"

POSTGRES_HOST=t2s_db
POSTGRES_PORT=5432
POSTGRES_DB=AI_test_DB
POSTGRES_USER=AI_test_user
POSTGRES_PASSWORD=your_password

REDIS_HOST=t2s_redis
REDIS_PORT=6379